section#rssfeedswidget article section p {
  margin-bottom: 10px;
}
section#rssfeedswidget article section img {
  float: left;
  padding-right: 4px;
  padding-bottom: 4px;
  max-height: 200px;
  max-width: 200px;
  height: auto;
  width: auto;
}
section#rssfeedswidget article footer {
  text-align: right;
  font-size: 90%;
  font-style: italic;
}
